

//VARIABLES
$text: 'Libre Franklin';
$headings: 'Suranna';
/* RGB */
$brown: rgba(60, 21, 24, 1);
$red: rgba(105, 20, 14, 1);
$orange: rgba(164, 66, 0, 1);
$yellow: rgba(213, 137, 54, 1);
$slate: rgba(139, 148, 116, 1);
//MIXINS
//temporary styles
@mixin testBox($fill, $border, $w, $h){
	background-color: $fill;
	border: 2px solid $border;
	width: $w;
	height: $h;
}
body {
	display:flex;
	flex-direction: column;
}
header, footer {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include testBox($brown, none, 100%, 5em);
}

h1, h2, h3 {
	font-family: $headings, 'Times New Roman', serif;
}
p {
	font-family: $text, 'Arial', sans-serif;
	line-height: 1.5em;
}
header h1 {
	font-size: 2em;
	color: $yellow;
	letter-spacing: 1px;
}

//🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌
//🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌
//the guts
//🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌
//🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌🍌
section {
	display: flex;
	flex-direction: column;
	justify-content:center;
	    padding: 0.2em 2em;
}
.instructions p {
	margin-top: 0.5em;
}
.gameBoard{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.comparisonHolder{
	display: flex;
	justify-content: center;
}
.stomach{
	background-color: $red;
	img {
		width: 100%;
		margin-bottom: -3px;
	}
}
.frame {
	flex-basis: 50%;
	margin: 0.5em;
	border: 1px solid $brown;
	padding: 0.5em;
	background-color: $slate;
}
.mouthful{

}
.goalNumber{
	@include testBox(#fff, $yellow, 10em, 10em);
	border-radius: 50%;
	text-align: center;
	line-height: 10em;
}
.foodButtons {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
}
.spoons {
	width: 46%;
	margin: 0.1em;
	padding: 1em 0.2em;
	background-color: #a44200;
	background-image: url(../images/spoon.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	font-size: 1em;
	line-height: 1.5em;
	justify-content: flex-end;
}